/*----- Main colors -----*/
/*----- Style colors -----*/
html,
body {
  padding: 0;
  margin: 0;
}
#board {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
#board .progress-bar div {
  height: 20px;
  background-color: #9fdbc3;
}
#board .table {
  display: inline-block;
  vertical-align: middle;
  border-spacing: 0px;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
}
#board .table .player {
  width: 40px;
  height: 40px;
}
#board .table .player0 {
  background-color: #ac8cd5;
  border: 1px solid #43215a;
}
#board .table .player1 {
  background-color: #d58cb5;
  border: 1px solid #5a2138;
  border-radius: 50%;
}
#board td {
  padding: 0;
  background-color: #9fb7db;
  border: 1px solid white;
}
#board td > div {
  height: 60px;
  width: 60px;
  padding-top: 9px;
  padding-left: 9px;
  box-sizing: border-box;
}
#board td:hover {
  background-color: #8cb5d5;
}
#board .crutch {
  display: inline-block;
  vertical-align: middle;
}
#board .table-container {
  overflow: auto;
}
#board .table-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
#board .table-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}
#board .table-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
#board .table-container::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
#board .table-container::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}
